<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"/>
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <div class="form-box">
            <div class="form-title">
                <p>C R E A T O R S&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;S I G N I N</p>
            </div>
            <div class="form-container">
                <form action="" method="POST">
                    <label for="txtUser">Username or email</label>
                    <input type="text" name="txtUser" autocomplete="false" id="inputUser"/>
                    <label for="txtPwd">Password</label>
                    <input type="password" name="txtPwd" id="inputPwd" />
        
                    <button type="submit">SignIn</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>