extends layout

block scripts
    script(src="js/register.js")
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" )

block content

    div(class="wrapper-form")
        div(class="card bg-dark cover-section")
            img(src="images/bridge.jpg" alt="...")
            div(class="card-img-overlay text-cover")
                img(src="/images/profile_pic.png" class="align-middle" width="130px" height="130px" alt="" id="pic_profile")
                
        form(action="/register-author" method="POST" id="formAuthor")
            div(class="form-group row")
                div(class="col")
                    input(type="text" class="form-control" id="name" name="name" placeholder="Full name" autocomplete="off")

            hr

            div(class="form-group row label-data")
                div(class="col")
                    label(for="birth") Birthday:
                    input(type="date" class="form-control" id="birth" name="birth")

                div(class="col")
                    label(for="nationality") Nationality:
                    input(type="text" class="form-control" id="nationality" name="nationality")

            div(class="form-group row")
                div(class="col")
                    label(for="biography") Biography:

            div(class="form-group row")
                div(class="col")
                    textarea( id="textBio" name="biography" placeholder="Write something about his life")


            input(type="submit" id="bSubmit" value="Save" class="btn btn-danger")