doctype html
html
    head
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(charset='utf-8')
        title Creators
        link(rel="stylesheet" type="text/css" href="css/styles.css")
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap" rel="stylesheet")
    
    body
        div(class="wrapper")
            div(class="form-box")
                form(class="form-container custom-form" action="/login" method="POST")
                    div(class="form-group" ng-class="{'not-empty': userName.length}")
                        input(type="text" class="form-control" name="user"  id="user" ng-model="userName" placeholder="Name")
                        label(for="user" class="animated-label")
                    div(class="form-group" ng-class="{'not-empty': passWord.length}")
                        input(type="password" class="form-control" name="pwd"  id="pass" placeholder="Lastname" ng-model="passWord")
                        label(for="pass" class="animated-label")
                    div(class="btns form-group")
                        button(class="btn-sign btnSubmit" type="submit") Log In
                        a(class="btn-sign btnSignUp" href="/SignUp") Sign Up
                        a(class="btn-recover txtRecoverPwd" href="/") Forgot your password?
            div(class="img-login")
                h1(class="hero-title") Creators
                p(class="hero-title-description") Find the best seller books